<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Home{% endblock %}</title> 
{% comment %}{% load static_helper %}{% endcomment %}
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" /> 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print"/> 
<!--[if lt IE 8]>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"/>
<![endif]-->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/djt/layout.css" type="text/css" media="screen, projection"/> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
{% block extra_head %}
{% endblock %}
</head>

<body>

<div class="bodywrap {% block body_wrap_class %}{% endblock %}">

  {% block header %}
  <div id="header">
    <div class="container">
      <div class="logo span-6">
        <a href="{% url home %}"><img src="{{MEDIA_URL}}img/logo.png" alt="ezEngage" border="0" /></a>
      </div>
      {% block header_nav %}
      <div class="span-17">
        <ul class="horizontal menu">
          <li><a href="{% url home %}"><span>首页</span></a></li>
          <li><a href="{% url sell %}"><span>创建购买按钮</span></a></li>
        </ul>
      </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  {% block content %}
  <div id="content">
      <div class="container" id="content-top">
      {% block body_above %}
      {% endblock %}
      </div>
      <div class="container rounded-5" id="content-main">
      {% block main_content %} {% endblock %}
      </div>
  </div>
  {% endblock %}

{% block footer %}
	<div id="footer">
    	<div class="container">
     		
        <div class="span-4">
          <ul class="horizontal">
            <li><a href="{% url home %}">首页</a></li>
            <li><a href="{% url sell %}">创建购买按钮</a></li>
          </ul>
        </div>
        
        <div class="span-7 last" style="float:right;">
          <div class="copyright">
            <p>Copyright  &copy;  2011 PayWithATweet <br />
            All the respective rights reserved</p>
          </div>
        </div>
               
      </div>
  </div>
{% endblock %}

</div>
</body>
</html>
